/*cats_types*/
.cats_types
  .col-md-3
    position: relative
    img 
      position: absolute
  &-dark 
    height: 100%
    width: 100%
    position: absolute
    top: 0
    &:hover 
      background-color: #000000
      opacity: 0.5